{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Kassie's Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/kbradshaw.jpg" %}" alt="Kassie - the author of this blog" />
            <h2>Kassie's Blog</h2>
        </header>

        <p>Welcome to my website.<p>

        <p>My name is Kassie, I'm a software developer.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Posts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static "blog/images/animalcrossing.jpg" %}" alt="My first post" />
                        <div class="post__content">
                            <h3>My First Post</h3>
                            <p>Preview text goes here...</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>A Little About Me</h2>
        <p>I'm a thinker, a maker, a helper.</p>
        <p>I love puzzles and dad jokes.</p>
    </section>


{% endblock %}