{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
    
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/kbradshaw.jpg" %}" alt="Kassie - the author of this blog" />
            <h2>Kassie's Blog</h2>
        </header>

        <p>Welcome to my website.<p>

        <p>My name is Kassie, I'm a software developer.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Posts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>A Little About Me</h2>
        <p>I'm a thinker, a maker, a helper.</p>
        <p>I love puzzles and dad jokes.</p>
    </section>


{% endblock %}